body {
	background-color:$white;
 	font-weigth:$regular;
 	font-size:$medium;
 	font-weigth:$regular;

}

a {
	font-family:$Roboto;
 	font-size:$medium;
 	font-weigth:$regular;
 	color:$fuzzy-wuzzy;

 	&:hover {
 		color:$raisin-black;
 		text-decoration:none;
 	}
}

i, .fa, .fas {
	color:$white;
	margin-top: 15%;
}