body {

}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0; 
    margin-right: 0; 
    margin-left: 0; 
}

.form-group label {
	margin-left: 5%;
}

.form-control {
	width: 65%;
	margin-left: 5%;
	margin-top:5%;
	margin-bottom:10%;
}

