h1 {
	font-family:$Old-Standard;
	font-size:$xxx-large;
	color:$black;
	font-weight:$bold;
	margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right:25%;
}

h2 {
	font-family:$Old-Standard;
	font-size:$xx-large;
	color:$white;
	font-weight:$bold;
	margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
}

h3 {
	font-family:$Old-Standard;
	font-size:$x-large;
	color:$white;
	font-weight:$bold;
}


p {
	font-family:$raleway;
	font-size:$medium;
	color:$quick-silver;
	line-height: 1.6;
	margin-top: 2%;
    margin-bottom: 2%;
    margin-right:25%;
    margin-left: 5%;
}