//Esquema de color //

$white:#fff;
$platinium:#e6e7e7;
$ligth-gray:#d1d1d1;
$nikel:#6c6e70;
$eerie-black:#121619;
$raisin-black:#222323;
$fuzzy-wuzzy:#e56353;

//Tipografia //

$Playfair:'Playfair Display', serif;
$Roboto:'Roboto', sans-serif;

//Pesos //

$regular:400;
$bold-italic:900;
$bold:700;
$light:300;

//Tamaños de fuentes //

$xx-large:70px;
$x-large:30px;
$large:16px;
$medium:18px;
$medium:18px;
$small:12px;