//Esquema de color //

$white:#fff;
$isabelline:#ececec;
$ligth-gray:#d1d1d1;
$smoky:#0c0910;
$granite-gray:#646266;
$quick-silver:#a6a5a8;


//Tipografia //

$raleway:'Raleway', sans-serif;
$Old-Standard:'Old Standard TT', serif;

//Pesos //

$regular:400;
$bold-italic:900;
$bold:700;
$light:300;


//Tamaños de fuentes //
$xxx-large:50px;
$xx-large:30px;
$x-large:18px;
$medium:16px;
$small:14px;
$small:12px;