article {
	padding-top:40px;

}

article img {
	float:left;
	margin-right: 30px;
}

article p {
	font-size:$medium;
}


article span {
	color:$fuzzy-wuzzy;
	font-family:$Roboto;
 	font-size:$medium;
 	font-weigth:$regular;
}



