main {
	font-family:$raleway;
	font-size:$medium;
	color:$quick-silver;
}

.main__img {
	background-image: url("../images/modelo.jpg");
	background-repeat: no-repeat;
	background-position:center;
	height: auto;
}

.main__new {
	background:$black;
	margin-right: -3%;
	margin-top: 10%;
	padding-top:5%;
	padding-bottom: 8%;

}

